.choices{
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    margin: 50px;
}

div {
    color: aliceblue;
}

.film {
    color:blueviolet;
    background-color: chartreuse;
    max-width: 30%;
    display: inline-block;

}

#result {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    
}
.poster{
    height: 50%;
    object-fit: contain;
    width: relative;

}
.filmtitel{
    background-color: black;

}

.filmplot{

}

.recepten{
    color:blueviolet;
    background-color: rgb(255, 0, 0);
    max-width: 30%;
    display: inline-block;    
}

#recept {
    display: flex;
    justify-content: space-around;
    align-items: stretch;    
}