main {
    color: rgb(243, 243, 243);
}

hr {
    color: white;
}

.border-under {
    padding-bottom: 50px;
    border-bottom: 4px solid white;
}

.choices{
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    /* margin: 10px;
    margin-bottom: 18px; */
    margin: 18px 10px;
}

h2 {
    font-size: 24px;
    margin-bottom: 18px;
}

